/* resets */

/* variables */
:root {
  --bg-page:wheat;
  --bg1:#1d2021;
  --bg2:#32302f;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
/* color:white; */
}

.sigla {
  width: 800px;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
background:var(--bg-page)
/* background-image:url(./pictures/fundal); */

}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
height:100px;
z-index:99;
  display: flex;
  align-items: center;
  justify-content: space-between;
    position: fixed;
    width:100%;
  background-color: var(--bg1);
  color: #fff;
}
.nav-links a {
  color: #fff;
}
/* NAVBAR MENU */
.menu {
  display: flex;
    padding-right:20px;
  gap: 1em;
  font-size: 28px;
}
.menu li:hover {
  background-color: var(--bg2);
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: var(--bg2);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
    right: -70px;
  top: 45px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: var(--bg1);
}
.services:hover .dropdown {
  display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 54px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--bg1);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: var(--bg1)
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    /* left: 50%;
    top: 30px;
    transform: translateX(35%); */
  }
  .dropdown li:hover {
    background-color: var(--bg1);
  }
}

.content{
    display:grid;
background-color:wheat;

}

.noi{
    background-color:#32302f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}


.name{
    font-size:6em;
}

.motto{
    font-size:2em;
}
.stdImage{
    width: 500px;
    border:5px black solid;
    border-radius:5%;
    margin:20px;
}

.diagrama{
    margin-top:30px;
}

.section{
    background-color:var(--bg-page);
/* background-image:url(pictures/fundal) */
text-align:center;
    /* min-height:100vh; */
    padding:100px;
}

a{
    display: block;
    color:black;
}

.header{
    font-size:3rem;
}

.produsele-noastre{
}

.inspiratii{
}

.contact{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.despre{
    background-color:var(--bg-page);
/* background-image:url(./pictures/fundal); */
    font-size:2em;
}


.acasa{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    /* background-image:url(./pictures/fundal); */
}

.pointerCursor{
    cursor: pointer;
}

.bubble {
	min-height: 250px;
	width: 40%;
	min-width: 200px;
	background: ivory;
    border:3px black solid;
	/* display: block; */
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
	/* font-size: 200px; */
    display: flex;
  align-items: center;
justify-self: center;
padding:55px;

flex-direction:column;
  /* justify-content: space-between; */
    
	/* text-align: center; */
}

.pointer {
    border-bottom:3px black solid;
    border-right:3px black solid;
	height: 40px;
	width: 40px;
	background: ivory;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw - 50px);
}

.blurred {
	background: gray;
	filter: blur(20px);
	position: relative;
	top: -315px;
/* 	transform: scale(1.05); */
	z-index: -1;
}

.list-elem{
  list-style-type: circle;
    /* list-style:square; */
}

.inspiratii{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; */
}

.contact{
    font-size:2rem;
}

.music{
    /* display: none; */
}


/* SLIDER */

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}


.hidden-text{
    opacity:0;
}

.pptImg1{
    background-image:url("pictures/pptImages/1.png") !important;
}
.pptImg2{
    background-image:url("pictures/pptImages/2.png") !important;
}
.pptImg3{
    background-image:url("pictures/pptImages/3.png") !important;
}
.pptImg4{
    background-image:url("pictures/pptImages/4.png") !important;
}
.pptImg5{
    background-image:url("pictures/pptImages/5.png") !important;
}
.pptImg6{
    background-image:url("pictures/pptImages/6.png") !important;
}
.pptImg7{
    background-image:url("pictures/pptImages/7.png") !important;
}
.pptImg8{
    background-image:url("pictures/pptImages/8.png") !important;
}
.pptImg9{
    background-image:url("pictures/pptImages/9.png") !important;
}
.pptImg10{
    background-image:url("pictures/pptImages/10.png") !important;
}
.pptImg11{
    background-image:url("pictures/pptImages/11.png") !important;
}
.pptImg12{
    background-image:url("pictures/pptImages/12.png") !important;
}
.pptImg13{
    background-image:url("pictures/pptImages/13.png") !important;
}
.pptImg14{
    background-image:url("pictures/pptImages/14.png") !important;
}
.pptImg15{
    background-image:url("pictures/pptImages/14.png") !important;
}


/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}


.slide{
      display: block; 
  content: " "; 
  margin-top: -200px; 
  height: 200px; 
  visibility: hidden; 
  pointer-events: none;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* catalog */



.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
#c1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#c2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#c3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#c4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#c5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#c6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
#c7:target ~ .bullets >*:nth-child(7) {background: rgba(255, 255, 255,   1);}
#c8:target ~ .bullets >*:nth-child(8) {background: rgba(255, 255, 255,   1);}
#c9:target ~ .bullets >*:nth-child(9) {background: rgba(255, 255, 255,   1);}
#c10:target ~ .bullets >*:nth-child(10) {background: rgba(255, 255, 255,   1);}
#c11:target ~ .bullets >*:nth-child(11) {background: rgba(255, 255, 255,   1);}
#c12:target ~ .bullets >*:nth-child(12) {background: rgba(255, 255, 255,   1);}
#c13:target ~ .bullets >*:nth-child(13) {background: rgba(255, 255, 255,   1);}
#c14:target ~ .bullets >*:nth-child(14) {background: rgba(255, 255, 255,   1);}
#c15:target ~ .bullets >*:nth-child(15) {background: rgba(255, 255, 255,   1);}
#c16:target ~ .bullets >*:nth-child(16) {background: rgba(255, 255, 255,   1);}
#c17:target ~ .bullets >*:nth-child(17) {background: rgba(255, 255, 255,   1);}
#c18:target ~ .bullets >*:nth-child(18) {background: rgba(255, 255, 255,   1);}
#c19:target ~ .bullets >*:nth-child(19) {background: rgba(255, 255, 255,   1);}
#c20:target ~ .bullets >*:nth-child(20) {background: rgba(255, 255, 255,   1);}

.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
#c1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#c2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#c3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#c4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#c5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#c6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#c7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#c8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#c9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#c10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
#c11:target ~ .prevNext >*:nth-child(11) {visibility: visible;}
#c12:target ~ .prevNext >*:nth-child(12) {visibility: visible;}
#c13:target ~ .prevNext >*:nth-child(13) {visibility: visible;}
#c14:target ~ .prevNext >*:nth-child(14) {visibility: visible;}
#c15:target ~ .prevNext >*:nth-child(15) {visibility: visible;}
#c16:target ~ .prevNext >*:nth-child(16) {visibility: visible;}
#c17:target ~ .prevNext >*:nth-child(17) {visibility: visible;}
#c18:target ~ .prevNext >*:nth-child(18) {visibility: visible;}
#c19:target ~ .prevNext >*:nth-child(19) {visibility: visible;}
#c20:target ~ .prevNext >*:nth-child(20) {visibility: visible;}

#c1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#c2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#c3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#c4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#c5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#c6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#c7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#c8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#c9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#c10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
#c11:target ~ .slider {transform: translateX(-1000%); -webkit-transform: translateX(-1000%);}
#c12:target ~ .slider {transform: translateX(-1100%); -webkit-transform: translateX(-1100%);}
#c13:target ~ .slider {transform: translateX(-1200%); -webkit-transform: translateX(-1200%);}
#c14:target ~ .slider {transform: translateX(-1300%); -webkit-transform: translateX(-1300%);}
#c15:target ~ .slider {transform: translateX(-1400%); -webkit-transform: translateX(-1400%);}
#c16:target ~ .slider {transform: translateX(-1500%); -webkit-transform: translateX(-1500%);}
#c17:target ~ .slider {transform: translateX(-1600%); -webkit-transform: translateX(-1600%);}
#c18:target ~ .slider {transform: translateX(-1700%); -webkit-transform: translateX(-1700%);}
#c19:target ~ .slider {transform: translateX(-1800%); -webkit-transform: translateX(-1800%);}
#c20:target ~ .slider {transform: translateX(-1900%); -webkit-transform: translateX(-1900%);}


/* powerpoint */

.catalogImg1{
    background-image:url("pictures/catalogImages/1.png") !important;
}
.catalogImg2{
    background-image:url("pictures/catalogImages/2.png") !important;
}

.catalogImg3{
    background-image:url("pictures/catalogImages/3.png") !important;
}

.catalogImg4{
    background-image:url("pictures/catalogImages/4.png") !important;
}
.catalogImg5{
    background-image:url("pictures/catalogImages/5.png") !important;
}
.catalogImg6{
    background-image:url("pictures/catalogImages/6.png") !important;
}
.catalogImg7{
    background-image:url("pictures/catalogImages/7.png") !important;
}
.catalogImg8{
    background-image:url("pictures/catalogImages/8.png") !important;
}
.catalogImg9{
    background-image:url("pictures/catalogImages/9.png") !important;
}
.catalogImg10{
    background-image:url("pictures/catalogImages/10.png") !important;
}
.catalogImg11{
    background-image:url("pictures/catalogImages/11.png") !important;
}
.catalogImg12{
    background-image:url("pictures/catalogImages/12.png") !important;
}
.catalogImg13{
    background-image:url("pictures/catalogImages/13.png") !important;
}
.catalogImg14{
    background-image:url("pictures/catalogImages/14.png") !important;
}
.catalogImg15{
    background-image:url("pictures/catalogImages/15.png") !important;
}
.catalogImg16{
    background-image:url("pictures/catalogImages/16.png") !important;
}
.catalogImg17{
    background-image:url("pictures/catalogImages/17.png") !important;
}
.catalogImg18{
    background-image:url("pictures/catalogImages/18.png") !important;
}
.catalogImg19{
    background-image:url("pictures/catalogImages/19.png") !important;
}
.catalogImg20{
    background-image:url("pictures/catalogImages/20.png") !important;
}




.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(255, 255, 255,   1);}
#s8:target ~ .bullets >*:nth-child(8) {background: rgba(255, 255, 255,   1);}
#s9:target ~ .bullets >*:nth-child(9) {background: rgba(255, 255, 255,   1);}
#s10:target ~ .bullets >*:nth-child(10) {background: rgba(255, 255, 255,   1);}
#s11:target ~ .bullets >*:nth-child(11) {background: rgba(255, 255, 255,   1);}
#s12:target ~ .bullets >*:nth-child(12) {background: rgba(255, 255, 255,   1);}
#s13:target ~ .bullets >*:nth-child(13) {background: rgba(255, 255, 255,   1);}
#s14:target ~ .bullets >*:nth-child(14) {background: rgba(255, 255, 255,   1);}
#s15:target ~ .bullets >*:nth-child(15) {background: rgba(255, 255, 255,   1);}

.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#s8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#s9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#s10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
#s11:target ~ .prevNext >*:nth-child(11) {visibility: visible;}
#s12:target ~ .prevNext >*:nth-child(12) {visibility: visible;}
#s13:target ~ .prevNext >*:nth-child(13) {visibility: visible;}
#s14:target ~ .prevNext >*:nth-child(14) {visibility: visible;}
#s15:target ~ .prevNext >*:nth-child(15) {visibility: visible;}

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#s8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#s9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#s10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
#s11:target ~ .slider {transform: translateX(-1000%); -webkit-transform: translateX(-1000%);}
#s12:target ~ .slider {transform: translateX(-1100%); -webkit-transform: translateX(-1100%);}
#s13:target ~ .slider {transform: translateX(-1200%); -webkit-transform: translateX(-1200%);}
#s14:target ~ .slider {transform: translateX(-1300%); -webkit-transform: translateX(-1300%);}
#s15:target ~ .slider {transform: translateX(-1400%); -webkit-transform: translateX(-1400%);}
.CSSgal{
height: 400px;
width:auto;
/* width:900px; */
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.rating {
margin-top:40px;
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}



/* button */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.btn {
margin-top:10px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  background-color: #f1ede5;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.follow {
  width: 100%;
  height: 100%;
  
  background-color: #1d2938;
  color: #cfd2d6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  transition: transform 0.5s ease;
}

.thanks {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1ede5;
  color: black;
  font-weight: 500;
  
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  transition: transform 0.5s ease;
}

.btn:hover > .follow {
  transform: translateX(-100%);
}

.btn:hover > .thanks {
  transform: scale(1);
}

/* Credits */

.credits {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: black;
}

.credit-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

